$primary: #45C3D3;     // aqua - primary color
//$primary: #00bfd7;   // aqua - primary color
$prim-light: #d9f5f9;  // aqua light
//$secondary: #717073;   // gray - secondary color
$secondary: #454545; // gray - secondary color
$sec-light: #f7f7f7;   // gray light
$sec-med: #d0d0d0;     // gray medium
$sec-dark: #7f7f7f;    // gray dark
$social: #a2a2a2;      // gray social media icons 
$footer: #5f5f5f;      // gray for second section of footer
$spot: #e6674a;        // coral - tertiary color 

$nav-bkgd: #6a6a6a; 

$nav-rule: #5f5f5f;    // gray hr rule
$rule: #c7c7c7;        // gray hr rule 
$heading: #414042;
$text: #231f20;        // main text color
$white: #ffffff;       // white
