#block-menu-menu-utility-nav {
	right: 225px;
}

#block-search-form {
	right: -15px;
}

#block-menu-menu-main-navigation {
	margin-right: 0;
} 

#block-block-37 {
	margin: 35px 0 25px 0;
}

.site-logo img {
	margin-left: 0;
}

.front {
	.region-content {
		padding: 0;
	}
	.l-content {
		padding: 0 0 25px;
	}
}

.l-region--footer {
	padding: 0;
}

.l-region--footer-second {
	padding: 0;
}

.not-front {
	.l-content {
		padding: 25px 0;
	}
	aside {
		padding-right: 0;
	}
	.block--views {
		padding-left: 0;
		padding-right: 0;
	}
}

.page-node-126 {
	.l-content {
		padding: 0;
	}
}

.view-news-feature, .view-bio-feature {
	height: 300px;
}

//// SARC CENTERS

//// SARC CLINICAL TRIALS
.field--name-field-trial-status {
	left: 128px;
}